/* 页面-index */
.top-post{
  margin-bottom: 2rem;
}

/* 文章列表 */
/* .post-list{

} */

.post-list .title,
.top-post .title{
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  padding:1rem;
  padding-left:2rem;
  border: 1px solid #eaeaea;
}

.post-list .list,
.top-post .post-wrapper{
  margin-top:-1px;
}

.post-list .list .post-card{
  margin-top: -1px;
}
