

.pagination{
  font-size:1.2rem;
  padding:1rem;
  display: flex;
  background-color: #fff;
  margin:2rem 0;
  border-radius: 4px;
}
.pagination__page,
.pagination__dots{
  border-radius:3px;
  text-align:center;
  padding: .4rem 1.2rem;  
  margin:0 .3rem;
}
.pagination__page{
  background-color: rgb(221, 221, 221);
  outline: none;
  border: none;
}

.pagination__page--current,
.pagination__page:hover{
  background:rgb(106, 197, 249);
  color:#fff;
  cursor: pointer;
}
.pagination__dots{
  /* border-color:rgba(0,0,0,0); */
}