.commentList{
  padding:2rem;
  background-color: #fff;
  border-radius: 4px;
}

.commentList__item{
  border-bottom: 1px solid rgb(245, 246, 247);
}
.commentList__item:last-child{
  border-bottom: none;
}
/* 244, 244, 244 */
.commentList__cardChild{
  background-color: rgb(244, 244, 244);
  margin:1rem;
  margin-left:7.4rem;
  border-radius: 4px;
  padding:1rem;
}
.commentList__childCardWrap{
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}
.commentList__childCardWrap:last-child{
  border-bottom:none;
}

@media only screen and (max-width: 1000px){
  .commentList{
    padding:.5rem;
  }
  .commentList__cardChild{
    padding:0;
    margin-left:1rem;
  }
}
