/* 页面-index */
.top-post{
  margin-bottom: 2rem;
}

/* 文章列表 */
.post-list-has-title .title,
.top-post .title{
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  padding:1rem;
  padding-left:2rem;
  border: 1px solid #eaeaea;
}

.top-post,
.top-post .post-card-wrapper{
  margin-top:-1px;
}

.post-list-has-title{
  margin-top:-1px;
}

.post-list-wrapper{
margin-top:-1px;
}



