

/**
* 1. reset类
  2. 全局样式
  3. css样式类
  4. 组件
  5. common页面
*
/*


/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全局设置 */
html{
  font-size: 10px;
}

body{
  background: rgb(239, 241, 243);
  font:1.6rem/1.5  tahoma, arial, Microsoft YaHei, sans-serif; 
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#000;
}
a:hover{
  color:rgb(128, 200, 252); 
}


/* css样式类 */
.overlay{
  position:fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background:rgba(0,0,0,0.8);
  z-index: 2;
}
.center{
  position:absolute;  /*position:fixed;*/
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}
.hide{
  display: none;
}


/* 
* 组件-card-author
*/
.card-author-container{
  background-color: #fff;
  padding: 1.5rem;
}

/* 作者介绍 */
.card-author-container .intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-author-container .intro>*{
  margin-bottom: 1rem;
}

.card-author-container .intro .portrait{
  width: 128px;
  height:128px;
  border-radius: 50%;
  overflow: hidden;
}

.card-author-container .intro .portrait img{
  width: 100%;
  height: 100%;
}

.card-author-container .intro .nickname{
  font-size: 2rem;
}

.card-author-container .intro .description{
  font-size: 1.3rem;
  text-align: center;
}

/* 创作信息 */
.card-author-container .creation{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1rem;
}

.card-author-container .creation div p:nth-child(1){
  font-size: 1rem;
}

.card-author-container .creation div p:nth-child(2){
  font-size: 2.4rem;
}

/* 联系方式 */
.card-author-container .contact-way{
  display: flex;
  flex-wrap:wrap;
}

.card-author-container .contact-way a{
  width:25%;
  text-align: center;
  font-size: 1.1rem;
  padding:1rem;
}

.card-author-container .contact-way a:hover{
  background-color: #f9f9f9;
}

/* 组件-card-hot-article */

.card-hot-article-container{
  background-color: #fff;
  padding:2rem;
}

.card-hot-article-container .title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.card-hot-article-container .post-list .post{
  display: flex;
  margin-bottom: 3rem;
}

.card-hot-article-container .post-list .post:last-child{
  margin-bottom: 0;
}

.card-hot-article-container .post .thumbnail{
  width:64px;
  height: 64px;
  margin-right:1.5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

}

.card-hot-article-container .post .thumbnail img{
  width: 100%;
  height: 100%;
}

.card-hot-article-container .post .info{
  display: flex;
  flex-direction: column;
}

.card-hot-article-container .post .info time{
  color:#7a7a7a;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.card-hot-article-container .post .info a{
  font-size: 1.4rem;
}


/* 组件-card-search */
.card-search-container{
  background-color: #fff;
  padding:2rem;
  display: flex;
}

.card-search-container input{
  /* height: 4rem; */
  border: 1px solid rgb(0 0 0/10%);
  padding:.8rem 1rem;
  font-size: 1.6rem;
  width: 80%;
}

.card-search-container input:focus{
  outline: none;
  border: 1px solid #6ac5f9;
}

.card-search-container button{
  /* padding:2rem; */
  border: none;
  width: 20%;
  background-color: #6ac5f9;
  color: #fff;
  cursor: pointer;
}

/* 组件-card-tag */
.card-tag-container{
  background-color: #fff;
  padding:2rem;
}

.card-tag-container .title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.card-tag-container .tag-list{
  display: flex;
  font-size:1.4rem;
  flex-wrap: wrap;
}

.card-tag-container .tag-list .tag{
  display: flex;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin:0 1rem 1rem 0;
}

.card-tag-container .tag-list .tag .name{
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-tag-container .tag-list .tag .count{
  height:100%;
  background-color: #e7e7e7;
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
}

/* 组件-header */
.header-container{
  height: 56px;
  line-height: 56px;
  background: #fff;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.header-container .top{
  width:100%;
  display: flex;
  justify-content: space-between;
}

/* logo */
.header-container .logo{
 font-size: 22px;
 letter-spacing: 3px;
 color: #333;
}

/* 菜单 */
.header-container .menu{
  margin-left: 3rem;
  display: flex;
  font-size: 14px;
  flex-grow: 1;
}
.header-container .menu li{
  margin-right:20px;
}


/* 切换菜单按钮 */
.toggle-menu-btn{
  display: none;
}

/* 切换搜索框按钮 */
.toggle-search-form-btn{
  display: none;
}



/* 搜索框 */
.header-container .search-form{
  /* display: flex; */
  background-color: #fff;
  z-index: 3;
  width: 90%;
  /* padding:1rem; */
  height:50px;
}

.header-container .search-form input{
  float: left;
  color: #999;
  border: solid 1px #ddd;
  width: 85%;
  height: 50px;
  padding: 4px 12px;
  border-right: none;
  font-size: 16px;
  border-radius: 2px 0 0 2px;
  outline: none;
  vertical-align: top;
}

.header-container .search-form button{
  color: #fff;
  border: none;
  background: #45B6F7;
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 0 2px 2px 0;
  width: 15%;
  vertical-align: top;
  cursor: pointer;
}

/* 手机菜单 */
.header-container .mobile-menu{
  background-color: #000;
  position:absolute;
  left:-70%;
  width:70%;
  height:100%;
  z-index: 2;
  padding:2rem;
  padding-left:4rem;
  transition: left linear .3s;
}

.header-container .mobile-menu li a{
  color:#fff;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .header-container .toggle-search-form-btn{
    display: block;
  }
  .header-container .toggle-menu-btn{
    display: block;
  }
  .header-container .menu{
    display: none;
  }

  
}


/* 组件-footer */
.footer{
  position: relative;
  z-index: 9;
  clear: both;
  padding: 40px 30px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
}

.footer a{
  color:#999;
}

.footer .container{
  margin:0 auto;
  max-width: 1200px;
}

/* 友情链接 */

.footer .friend-link{
  display: flex;
  margin-bottom:10px;
}

.footer .friend-link .title{
  padding:1rem;
  font-weight: 600;
}


.footer .friend-link .list{
  display: flex;
}

.footer .friend-link .list li{
  padding:1rem;
}


/* 补充信息 */
.additional-info{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.additional-info li{

}

.additional-info span{
  margin:0 3px;
}

@media screen and (max-width:1000px) {
  .footer .friend-link{
    display: none;
  }
}


/* 组件-post-card */
.post-card-container{
  border: 1px solid #eaeaea;
  padding:20px 20px 20px 20px;
  overflow: hidden;
  background-color: #fff;
}

.post-card-container:hover{
  background-color: rgb(251, 251, 251)  ;
}

/* header */

.post-card-container .header{
  margin:0 0 10px;  
}

.post-card-container .header .category{
  color: #fff;
  background-color: #45BCF9;
  padding: 3px 6px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 6px;

  background-color: #fb4c69;
}

.post-card-container .header .category i{
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid #45BCF9;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-left-color: #fb4c69;
}

.post-card-container .header h2{
  display: inline;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 0;
  font-weight: bold;
}


/* meta */

.post-card-container .meta{
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
  position: relative;
}

.post-card-container .meta a{
  color:#999;
}
.post-card-container .meta a:hover{
  color:#45BCF9;
}

.post-card-container .meta > *{
  margin-right:10px;
}

.post-card-container .meta .post-like{
  position:absolute;
  right:0;  
}

.post-card-container .excerpt{
  font-size: 12px;
  color: #999;
  word-wrap: break-word;
  line-height: 20px;
  margin-bottom: 0;
  /* 最多显示两行 */
  max-height:40px;
  overflow: hidden;
}


@media screen and (max-width:1000px) {

  .post-card-container .header .category{
    display: none;
  }

  .post-card-container .header h2{
    font-size: 14px;
    line-height: 1.2;
    /* height:  px; */
  }
  

  .post-card-container .meta .author{
    display: none;
  }

  .post-card-container .excerpt{
    max-height: 20px;
  }
}

/* 组件-pagination */
.pagination-container{
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.pagination-container ul{
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}
.pagination-container ul li {
  margin-bottom: 4px;
}

.pagination-container ul li a{
  margin: 0 2px;
  float: left;
  padding: 5px 12px;
  background-color: #ddd;
  color: #666;
  border-radius: 2px;
  opacity: .88;
}

.pagination-container ul li span{
  color: #999;
  background-color: transparent;
  cursor: default;
  margin: 0 2px;
  float: left;
  padding: 5px 12px;
  color: #666;
  border-radius: 2px;
  opacity: .88;
}

/* 组件-card-tips */
.card-tips-container{
  background-color: #fff;
  padding:1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.card-tips-container .title{
  padding-left:1rem;
  font-size:2rem;
  font-weight: 800;
  text-align: center;
  color:#999;
  display: flex;
  justify-content: center;
}

.card-tips-container img{
  position: absolute;
  left:0;
  top:0;
  opacity:0.2;
}

/* 组件-post-content */
.post-content-container{
  padding: 0 20px 4rem;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  /* height:1000px; */
}

/* 面包屑 */
.post-content-container .crumbs{
  font-size: 1.4rem;
  color:#999;
  padding:1rem;
  border-bottom: 1px dashed rgb(0 0 0 / 5%);
}

.post-content-container .header{
  margin-bottom: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.post-content-container .header h1{
  margin-top: 0;
  font-size: 26px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* meta */
.post-content-container .header .meta{
  font-size: 1.2rem;
  color: #999;
} 

.post-content-container .header .meta>*{
  margin-right:2rem;
}

/* cut-off */
.post-content-container .cut-off{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  color:#b1b1b1;
}

.post-content-container .cut-off::before,
.post-content-container .cut-off::after{
  content: "";
  background: rgb(0 0 0 / 10%);
  width: 20%;
  height: 1px;
  margin: 0 1em;
}

/* interaction */
.post-content-container .interaction{
  text-align: center;
  overflow: hidden;
  padding: 15px 0 30px;
}

.post-content-container .interaction .like{
  display: inline-block;
  opacity: 0.8;
  line-height: 1;
  padding: 12px 20px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  background-color: #45B6F7;
  margin: 0 7px;
}

/* tag */
.post-content-container .post-tag,
.post-content-container .post-tag a{
  color:#7a7a7a;
}

.post-content-container .post-tag{
  display: flex;

}

.post-content-container .post-tag .tag-list{
  padding:0 1rem;
}

.post-content-container .post-tag .tag-list a{
  background-color: #f5f5f5;
  padding:0.5rem 0.7rem;
  margin:0 .3rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

.post-content-container .post-tag .tag-list a:hover{
  background-color: rgb(0 0 0 / 7%);
}

/* 组件-prev-next */
.prev-next-container{
  display: flex;
  justify-content: space-between;
}

.prev-next-container .prev,
.prev-next-container .next{
  background-color: #fff;
  padding:1.5rem;
  border-radius: 4px;
  font-size:1.4rem;
  color: #999;
  width:48%;
}

.prev-next-container .prev h2,
.prev-next-container .next h2{
  height: 4rem;
  overflow: hidden;
}

.prev-next-container .prev p:first-child,
.prev-next-container .next p:first-child{
  margin-bottom:1rem;
}

.prev-next-container .prev:hover,
.prev-next-container .next:hover{
  color:#6ac5f9;
  cursor: pointer;
}

.prev-next-container .next >*{
  text-align: right;
}

/* 组件-recommend */
.recommend-container{
  background-color: #fff;
  padding:2rem;
  font-size: 1.4rem;
  color: #999;
  border-radius: 4px;
}

.recommend-container .title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recommend-container .cut-off{
  color:#999;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  margin-bottom: 1rem;
}

.recommend-container .post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend-container .post{
  width:50%;
  margin-bottom: 1rem;
  padding-left:2rem;
}

.recommend-container .post a{
  padding-left:.5rem;
  color:#999;
  cursor: pointer;
}

.recommend-container .post a:hover{
  color:#6ac5f9;
}


/* 页面-common */

/* 页头 */
.header-wrapper{
  margin-bottom: 16px;
  background: #fff; 
}

.header{
  margin:0 auto;
  max-width: 1200px;
  width:90%;
}



/* 主体 */
.main{
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 1200px;
  /* width:90%; */
}

/* 主体内容区 */
.main .content{
  flex:1;
  width: 100%;
}

/* 主体侧边栏 */
.main .sidebar{
  width:30rem;
  margin-left:2rem;
}


.main .sidebar .widget{
  margin-bottom: 2rem;
}


/* 小于1000 */
@media screen and (max-width:1000px) {
  .main .sidebar{
    display: none;
  }
}


