/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/page/category/category.css ***!
  \**************************************************************************************************************/
.categoryPageWrap{
  margin-bottom:2rem;
}
.categoryPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.categoryPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.categoryPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .categoryPage__sidebar{
    display: none;
  }
}



