/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/widget/tagCloudCard/tagCloudCard.css ***!
  \*****************************************************************************************************************************/
.tagCloudCard{
  background-color: #fff;
  padding:2rem;
}

.tagCloudCard__title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.tagCloudCard__list{
  display: flex;
  font-size:1.4rem;
  flex-wrap: wrap;
}

.tagCloudCard__item{
  display: flex;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin:0 1rem 1rem 0;
}

.tagCloudCard__itemName{
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.tagCloudCard__itemCount{
  height:100%;
  background-color: #e7e7e7;
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/widget/authorCard/authorCard.css ***!
  \*************************************************************************************************************************/
/* 
* 组件-card-author
*/
.authorCard{
  background-color: #fff;
  padding: 1.5rem;
}

.authroCard__intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authroCard__intro > *{
  margin-bottom: 1rem;
}

.authroCard__portrait{
  width: 128px;
  height:128px;
  border-radius: 50%;
  overflow: hidden;
}

.authroCard__portraitImg{
  width: 100%;
  height: 100%;
}

.authorCard__nickname{
  font-size: 2rem;
}

.authorCard__description{
  font-size: 1.3rem;
  text-align: center;
}

.authorCard__creation{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1rem;
}

.authorCard__articleName,
.authorCard__categoryName,
.authorCard__tagName{
  font-size: 1rem;
}

.authorCard__articleCount,
.authorCard__categoryCount,
.authorCard__tagCount{
  font-size: 2.4rem;
}

.authorCard__contactWay{
  display: flex;
  flex-wrap:wrap;
}

.authorCard__contactWay>*{
  width:25%;
  text-align: center;
  font-size: 1.1rem;
  padding:1rem;
}

.authorCard__contactWay>*:hover{
  background-color: #f9f9f9;
}


/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/widget/searchCard/searchCard.css ***!
  \*************************************************************************************************************************/
.searchCard{
  background-color: #fff;
  padding:2rem;
  display: flex;
}

.searchCard__input{
  /* height: 4rem; */
  border: 1px solid rgb(0 0 0/10%);
  padding:.8rem 1rem;
  font-size: 1.6rem;
  width: 80%;
}

.searchCard__input:focus{
  outline: none;
  border: 1px solid #6ac5f9;
  /* border-color: rgb(0 0 0/50%); */
}

.searchCard__btn{
  border: none;
  width: 20%;
  background-color: #6ac5f9;
  color: #fff;
  cursor: pointer;
}
/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/widget/simplePostCard/simplePostCard.css ***!
  \*********************************************************************************************************************************/
.simplePostCard{
  display: flex;
  /* margin-bottom: 3rem; */
}

.simplePostCard__thumbnail{
  width:64px;
  height: 64px;
  margin-right:1.5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink:0;
}

.simplePostCard__thumbnailImg{
  width: 100%;
  height: 100%;
}

.simplePostCard__info{
  display: flex;
  flex-direction: column;
}

.simplePostCard__meta{
  color:#7a7a7a;
  font-size: .8rem;
  margin-bottom: 2rem;
}
  
.simplePostCard__time{
  margin-right:1rem;
}

.simplePostCard__title{
  font-size: 1.4rem;
  line-height: 1.4rem;
  height:1.4rem;
  overflow: hidden;
  color:#7a7a7a;
}

.simplePostCard__title:hover{
  color:#45B6F7;
}

/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/widget/widgetRecommendCard/widgetRecommendCard.css ***!
  \*******************************************************************************************************************************************/
.widgetRecommendCard{
  background-color: #fff;
  padding:2rem;
}

.widgetRecommendCard__title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.widgetRecommendCard__postWrap{
  margin-bottom: 3rem;
}

.widgetRecommendCard__postWrap:last-child{
  margin-bottom: 0;
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/pageTitleCard/pageTitleCard.css ***!
  \*******************************************************************************************************************************/
.pageTitleCard{
  background-color: #fff;
  padding:1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.pageTitleCard__title{
  padding-left:1rem;
  font-size:2rem;
  font-weight: 800;
  text-align: center;
  color:#999;
  display: flex;
  justify-content: center;
}

.pageTitleCard__bg{
  position: absolute;
  left:0;
  top:0;
  opacity:0.2;
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/postList/postList.css ***!
  \*********************************************************************************************************************/


.postList__CardWrap{
  margin-top:-1px;
}

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/postCard/postCard.css ***!
  \*********************************************************************************************************************/
.postCard{
  border: 1px solid #eaeaea;
  padding:2rem;
  overflow: hidden;
  background-color: #fff;
  color: #999;
  font-size: 1.2rem;
}

.postCard:hover{
  background-color: rgb(251, 251, 251)  ;
}

.postCard__header{
  margin:0 0 1rem;
}

.postCard__category{
  color: #fff;
  padding: 3px 6px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 6px;
  background-color: #45BCF9;
  /* background-color: #fb4c69; */
}

.postCard__category:hover{
  background-color: #3dade6;
  color:#fff;
}

.postCard__categoryIcon{
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  /* border-left-color: #fb4c69; */
  border-left: 4px solid #45BCF9;
}

.postCard__title{
  display: inline;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-top: 0;
  font-weight: bold;
}

.postCard__meta{
  margin-bottom: 1rem;
  position: relative;
}

.postCard__meta > *{
  margin-right:1rem;
}

.postCard__likeCount{
  position:absolute;
  right:0;  
}

.postCard__excerpt{
  word-wrap: break-word;
  line-height: 2rem;
  margin-bottom: 0;
  /* 最多显示两行 */
  max-height:4rem;
  overflow: hidden;
}


/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/pagination/pagination.css ***!
  \*************************************************************************************************************************/


.pagination{
  font-size:1.2rem;
  padding:1rem;
  display: flex;
  background-color: #fff;
  /* margin:2rem 0; */
  border-radius: 4px;
}
.pagination__page,
.pagination__dots{
  border-radius:3px;
  text-align:center;
  padding: .4rem 1.2rem;  
  margin:0 .3rem;
}
.pagination__page{
  background-color: rgb(221, 221, 221);
  outline: none;
  border: none;
}

.pagination__page--current,
.pagination__page:hover{
  background:rgb(106, 197, 249);
  color:#fff;
  cursor: pointer;
}
.pagination__dots{
  /* border-color:rgba(0,0,0,0); */
}
/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/menu/menu.css ***!
  \*************************************************************************************************************/
.menu{
  display: flex;
}

.menu__item{
  margin:0 1rem;
  position: relative;
}



.menu__link{
  display: block;
  height:56px;
  font-size: 1.4rem;
  z-index: 101;
  padding:0 2rem;
  text-align: center;
}



.menu__link:hover{
  color:#000;
}

.menu__submenu{
  z-index: 100;
  position:absolute;
  background-color: white;
  padding:1rem 0;
  left:50%;
  transform: translate(-50%,20px);
  opacity: 0;
  visibility: hidden;

  font-size:14px;
  text-align: center;
  border:1px solid rgb(239, 241, 243);
}





.menu__item:hover .menu__submenu{
  transform: translate(-50%,0);
  opacity: 1;
  visibility: visible;
  transition: transform .2s linear .2s,opacity .2s linear .2s;
}

.menu__item:hover .menu__link{
  border-bottom: 2px solid rgb(128, 200, 252);
}

.menu__item:hover .menu__icon{
  transform: rotate(180deg);
  transition: all .2s ease .2s;
}

.menu__submenuItem{
  height:36px; 
  line-height: 36px;
  padding:0 2rem;
}

.menu__submenuLink{
  white-space:nowrap;
}



.menu__submenuItem:hover{
  background-color: rgb(242, 242, 242);
  /* background-color: #fff; */
}

.menu__submenuLink:hover{
  color:#000;
  
}







/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/common/mobileMenu/mobileMenu.css ***!
  \*************************************************************************************************************************/

.mobileMenu{
  display: flex;
  flex-direction: column;
  color:#fff;
  padding:3rem 0;
}

.mobileMenu__item{
  border: 1px solid rgb(50 162 252 / 30%);
  margin:1rem 1rem;
  transition: all .3s ease;
}

.mobileMenu__item--active{
  background-color: rgb(50 162 252 / 30%);
  /* transition: all .2s; */
}

.mobileMenu__item--active .mobileMenu__icon{
  transform: rotate(180deg);
  /* transition: all .2s; */
}

.mobileMenu__item--active .mobileMenu__submenu{
  display: block;
  /* transition: all .2s; */
}

.mobileMenu__item:hover{
  background-color: rgb(50 162 252 / 30%);
}


.mobileMenu__link{
  display: block;
  font-size: 16px;
  text-align: center;
  position: relative;
  color:#000;
  cursor: pointer;
}

.mobileMenu__link:hover{
  /* color:#000; */
}

.mobileMenu__icon{
  /* margin-right: -.5rem; */
  /* position:absolute;
  left:0;
  top:0; */
}


.mobileMenu__submenu{
  background-color: #fff;
  text-align: center;
  display:none;
}

.mobileMenu__subItem{
  /* text-align: center; */
  /* height:0; */
}

.mobileMenu__subLink{
  display: block;
}

.mobileMenu__subLink:hover{
  color:#000;
  background-color: rgb(50 162 252 / 10%);
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/commentCard/commentCard.css ***!
  \*************************************************************************************************************************/
.commentCard{
  display: flex;
  padding:1rem;
  border-radius: 4px;
  font-size:1.4rem;
}
.commentCard__left{
  margin-right:2rem;
}
.commentCard__portrait{
  width:4.8rem;
  height:4.8rem;
  border-radius: 50%;
}

.commentCard__right{
  font-display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}

.commentCard__author{
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.commentCard__content{
  margin-bottom: 1rem;
}

.commentCard__meta{
  display: flex;
  font-size:1.2rem;
}

.commentCard__meta>*{
  margin-right:1rem;
}

.commentCard__replyBtn{
  cursor: pointer;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/commentList/commentList.css ***!
  \*************************************************************************************************************************/
.commentList{
  padding:2rem;
  background-color: #fff;
  border-radius: 4px;
}

.commentList__item{
  border-bottom: 1px solid rgb(245, 246, 247);
}
.commentList__item:last-child{
  border-bottom: none;
}
/* 244, 244, 244 */
.commentList__cardChild{
  background-color: rgb(244, 244, 244);
  margin:1rem;
  margin-left:7.4rem;
  border-radius: 4px;
  padding:1rem;
}
.commentList__childCardWrap{
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}
.commentList__childCardWrap:last-child{
  border-bottom:none;
}

@media only screen and (max-width: 1000px){
  .commentList{
    padding:.5rem;
  }
  .commentList__cardChild{
    padding:0;
    margin-left:1rem;
  }
}

/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/prevNextCard/prevNextCard.css ***!
  \***************************************************************************************************************************/
.prevNextCard{
  display: flex;
  justify-content: space-between;
}

.prevNextCard__prev,
.prevNextCard__next{
  background-color: #fff;
  padding:1.5rem;
  border-radius: 4px;
  font-size:1.4rem;
  color: #999;
  width:48%;
}


.prevNextCard__next{
  margin-left: auto; 
  margin-right: 0;
}

.prevNextCard__prevTitle,
.prevNextCard__nextTitle{
  height: 4rem;
  overflow: hidden;
  margin-top:1rem;
}

.prevNextCard__next >*{
  text-align: right;
}

.prevNextCard__prev:hover,
.prevNextCard__next:hover{
  color:#6ac5f9;
  cursor: pointer;
}


/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/postContent/postContent.css ***!
  \*************************************************************************************************************************/
.postContent{
  padding: 0 2rem 4rem;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  /* height:1000px; */
}

/* 面包屑 */
.postContent__crumbs{
  font-size: 1.4rem;
  color:#999;
  padding:1rem;
  border-bottom: 1px dashed rgb(0 0 0 / 5%);
}

.postContent__header{
  margin-bottom: 2rem;
  padding: 2.5rem 0;
  border-bottom: 1px solid #eee;
  text-align: center;
  width: 100%;
}

.postContent__title{
  margin-top: 0;
  font-size: 2.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

/* meta */
.postContent__meta{
  font-size: 1.2rem;
  color: #999;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.postContent__meta > *{
  margin-right:2rem;
}

/* cut-off */
.postContent__cutOff{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  color:#b1b1b1;
}

.postContent__cutOff::before,
.postContent__cutOff::after{
  content: "";
  background: rgb(0 0 0 / 10%);
  width: 20%;
  height: 1px;
  margin: 0 1em;
}

/* interaction */
.postContent__interaction{
  text-align: center;
  overflow: hidden;
  padding: 15px 0 30px;
}

.postContent__like{
  display: inline-block;
  opacity: 0.8;
  line-height: 1;
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 7px;
  cursor: pointer;
  color: #45B6F7;
  background-color: #fff;
  border: 1px solid #45B6F7;
}

.postContent__like--done{
  color: #fff;
  background-color: #45B6F7;
}



/* tag */
.postContent__tagContainer{
  color:#7a7a7a;
  display: flex;
}

.postContent__tagList{
  padding:0 1rem;
}

.postContent__tag{
  background-color: #f5f5f5;
  padding:0.5rem 0.7rem;
  margin:0 .3rem;
  border-radius: 4px;
  font-size: 1.4rem;
  color:#7a7a7a;
}

.postContent__tag:hover{
  background-color: rgb(0 0 0 / 7%);
}

@media screen and (max-width:1000px) {

  .postContent{
    padding: 0 1rem 4rem;
    /* height:1000px; */
  }
  
  .postContent__crumbs{
    font-size: 1.2rem;
    padding:.6rem;
  }


  .postContent__title{
    margin-top: 0;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: .8rem;
  }

  .postContent__meta>*{
    margin-right:1rem;
  }
}

/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/recommendCard/recommendCard.css ***!
  \*****************************************************************************************************************************/
.recommendCard{
  background-color: #fff;
  padding:2rem;
  font-size: 1.4rem;
  color: #999;
  border-radius: 4px;
}

.recommendCard__title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recommendCard__cutOff{
  color:#999;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  margin-bottom: 1rem;
}

.recommendCard__postList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendCard__post{
  width:50%;
  margin-bottom: 1rem;
  padding-left:2rem;
}

.recommendCard__postLink{
  padding-left:.5rem;
  color:#999;
  cursor: pointer;
}

.recommendCard__postLink:hover{
  color:#6ac5f9;
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/commentSection/commentSection.css ***!
  \*******************************************************************************************************************************/
.commentSection{
  position:relative;
}

.commentSection__mask{
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.commentSection__paginationWrap{
  display: flex;
  justify-content: center;
  background-color: #fff;
  /* margin-bottom:2rem; */
}

/* .commentSection__formWrap{
  margin-top:2rem;
} */
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/post/commentForm/commentForm.css ***!
  \*************************************************************************************************************************/
.commentForm{
  padding:2rem; 
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.commentForm__tips{
  text-align: center;
  font-size: 1.4rem;
  color:red;
  margin-bottom: 1rem;
}

.commentForm__authorInfo{
  display: flex;
  flex-wrap: wrap;
}

.commentForm__authorInfo > *{
  width: 50%;
}

.commentForm__contentWrap{
  display: flex;
}
.commentForm__contentLabel{
  width: 10% !important;
}

.commentForm__operation{
  display: flex;
  justify-content: center; 
}

.commentForm__authorNickname:focus,
.commentForm__authorEmail:focus,
.commentForm__authorWebsite:focus,
.commentForm__content:focus{
  border: 1px solid #6ac5f9 !important;
}

.commentForm__contentLabel::before,
.commentForm__nicknameLabel::before{
  content:'* ';
  color:red;
}



.commentForm__submitBtn,
.commentForm__resetBtn{
  border: none;
  color: #fff;
  cursor: pointer;
  padding:.8rem 1.6rem;
  border-radius: 4px;
  background-color: rgb(106 197 249 / 90%);
}

.commentForm__submitBtn{
  margin-right:2rem;
}

.commentForm__submitBtn:hover,
.commentForm__resetBtn:hover{
  background-color: rgb(106, 197, 249);
}



/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/siteHeader/siteHeader.css ***!
  \******************************************************************************************************************/
.siteHeader{
  height: 56px;
  line-height: 56px;
  background: #fff;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.siteHeader__top{
  width:100%;
  display: flex;
  justify-content: space-between;
}

/* logo */
.siteHeader__logo{
 font-size: 22px;
 letter-spacing: 3px;
 color: #333;
}

.siteHeader__toggleMenuBtn{
  display: none;
}





/* 切换搜索框按钮 */
.siteHeader__toggleSearchFormBtn{
  display: none;
}



/* 搜索框 */
.siteHeader__searchForm{
  /* display: flex; */
  background-color: #fff;
  z-index: 3;
  width: 90%;
  /* padding:1rem; */
  height:50px;
}

.siteHeader__searchFormInput{
  float: left;
  color: #999;
  border: solid 1px #ddd;
  width: 85%;
  height: 50px;
  padding: 4px 12px;
  border-right: none;
  font-size: 16px;
  border-radius: 2px 0 0 2px;
  outline: none;
  vertical-align: top;
}


.siteHeader__searchFormBtn{
  color: #fff;
  border: none;
  background: #45B6F7;
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 0 2px 2px 0;
  width: 15%;
  vertical-align: top;
  cursor: pointer;
}

/* 手机菜单*/
.siteHeader__mobileMenuWrap{
  background-color: #fff;
  position:fixed;
  top:0;
  left:0;
  left:-60%;
  width:60%;
  height:100%;
  z-index: 3;
  transition: left .3s linear;
  /* padding:3rem;
  padding-left:15%;
  transition: left linear .3s; */
}

/* .siteHeader__mobileNavMenuContainer .mobile-menu li a{
  color:rgb(255 255 255/70%);
} */

/* 小于1000 */
@media screen and (max-width:1000px) {
  .siteHeader__toggleSearchFormBtn{
    display: block;
  }
  .siteHeader__toggleMenuBtn{
    display: block;
  }
  .siteHeader__menuWrap{
    display: none;
  }  
}

/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/siteFooter/siteFooter.css ***!
  \******************************************************************************************************************/
.siteFooter{
  position: relative;
  z-index: 9;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color: #999;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
}

.siteFooter a{
  color:#999;
}


/* 友情链接 */

.siteFooter__friendLink{
  display: flex;
  margin-bottom:10px;
}

.siteFooter__friendLinkTitle{
  padding:1rem;
  font-weight: 600;
}


.siteFooter__friendLinkList{
  display: flex;
  justify-content: center;
  align-items: center;
}


.siteFooter__friendLinkList > *{
  padding-right:1rem;
}



.siteFooter__menu,
.siteFooter__licence{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.siteFooter__cutOff{
  margin:0 3px;
}


@media screen and (max-width:1000px) {
  .siteFooter__friendLink
  {
    display: none;
  }
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/indexPageContent/indexPageContent.css ***!
  \******************************************************************************************************************************/
.indexPageContent__topPost{
  margin-bottom: 2rem;
}

.indexPageContent__topPostTitle,
.indexPageContent__postListTitle{
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  padding:1rem;
  padding-left:2rem;
  border: 1px solid #eaeaea;
}

.indexPageContent__topPostWrap,
.indexPageContent__postListWrap{
  margin-top:-1px;
}

.indexPageContent__paginationWrap{
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  /* margin-top:2rem;   */
}








/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/categoryPageContent/categoryPageContent.css ***!
  \************************************************************************************************************************************/



.categoryPageContent__pageTitleCardWrap{
  margin-bottom: 2rem;
}


.categoryPageContent__postListWrap{
  margin-top:-1px;
}









/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/tagPageContent/tagPageContent.css ***!
  \**************************************************************************************************************************/

.tagPageContent__pageTitleCardWrap{
  margin-bottom: 2rem;
}


.tagPageContent__postListWrap{
  margin-top:-1px;
}







/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/searchPageContent/searchPageContent.css ***!
  \********************************************************************************************************************************/

.searchPageContent__pageTitleCardWrap{
  margin-bottom: 2rem;
}


.searchPageContent__postListWrap{
  margin-top:-1px;
}







/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./frontend/postPageContent/postPageContent.css ***!
  \****************************************************************************************************************************/

.postPageContent__contentWrap,
.postPageContent__nextPrevWrap,
.postPageContent__recommendWrap{
  margin-bottom: 2rem;
}







/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/page/common/common.css ***!
  \**********************************************************************************************************/


/**
* 1. reset类
  2. 全局样式
  3. css样式类
  4. 组件
  5. 模板
  6. common页面
  7. 分页
  8. 小工具
*
/*


/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全局设置 */
html{
  font-size: 10px;
  height:100%;
}

body{
  background: rgb(239, 241, 243);
  font:1.6rem/1.5  tahoma, arial, Microsoft YaHei, sans-serif;
  display: flex;
  flex-direction: column;
  height:100%;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#000;
}
a:hover{
  color:rgb(128, 200, 252); 
}


/* css样式类 */
.overlay{
  position:fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background:rgba(0,0,0,0.8);
  z-index: 2;
}
.center{
  position:absolute;  /*position:fixed;*/
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}
.hide{
  display: none;
}
.mb-2{
  margin-bottom: 2rem;
}

.radius{
  border-radius: 4px;
}
.radius-big{
  border-radius: 8px;
}

/* 表单 */
.form-group{
  padding: .6rem;
}

.form-group label{
  width: 20%;
}

.form-group input,
.form-group textarea{
  border: 1px solid rgb(0 0 0/10%);
  padding: 0.6rem .8rem;
  font-size: 1.4rem;
  outline: none;
  border-radius: 4px;
  width: 80%;
}

.form-group input:focus,
.form-group textarea:focus{
  border: 1px solid rgb(0 0 0/50%);
}

.form-group textarea{
  width:100%;
}

/* loading */
.loading{
  width: 48px;
  height: 48px;
  border:3px solid rgb(106, 197, 249);
  border-bottom: #fff 2px solid;
  border-radius: 50%;
  -webkit-animation:load 1.1s infinite linear;
}

@-webkit-keyframes load{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}




/* 组件-widget-tagCloudCard */
/* 组件-widget-authorCard */
/* 组件-widget-searchCard */
/* 组件-widget-simplePostCard */
/* 组件-widget-widgetRecommendCard */



/* 组件-common-pageTitleCard */
/* 组件-common-postList */
/* 组件-common-postCard */
/* 组件-common-pagination */
/* 组件-common-menu */
/* 组件-common-mobileMenu */



/* 组件-post-commentCard */
/* 组件-post-commentList */
/* 组件-post-prevNextCard */
/* 组件-post-postContent */
/* 组件-post-recommendCard */
/* 组件-post-commentSection */
/* 组件-post-commentForm */



/* 组件-siteHeader */

/* 组件-siteFooter */

/* 组件-indexPageContent */

/* 组件-categoryPageContent */

/* 组件-tagPageContent */

/* 组件-searchPageContent */

/* 组件-postPageContent */


.siteHeaderWrapWrap{
  margin-bottom: 2rem;
  background: #fff; 
}
.siteHeaderWrap{
  margin:0 auto;
  max-width:1200px;
  width:90%;
}
.indexPageWrap,
.categoryPageWrap,
.tagPageWrap,
.searchPageWrap,
.postPageWrap{
  flex:1 0 auto;
}

.siteFooterWrapWrap{
  /* margin-bottom: 2rem; */
  background: #fff; 
  flex-shrink: 0;
}
.siteFooterWrap{
  margin:0 auto;
  max-width:1200px;
}





