/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/page/index/index.css ***!
  \********************************************************************************************************/
.indexWrap{
  margin-bottom:2rem;
}
.index{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.index__contentWrap{
  flex:1;
  width: 100%;
}

.index__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .index__sidebar{
    display: none;
  }
}



