.commentForm{
  padding:2rem; 
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.commentForm__tips{
  text-align: center;
  font-size: 1.4rem;
  color:red;
  margin-bottom: 1rem;
}

.commentForm__authorInfo{
  display: flex;
  flex-wrap: wrap;
}

.commentForm__authorInfo > *{
  width: 50%;
}

.commentForm__contentWrap{
  display: flex;
  flex-direction: column;
}
.commentForm__contentLabel{
  /* width: 10% !important; */
}

.commentForm__operation{
  display: flex;
  justify-content: center; 
}

.commentForm__authorNickname:focus,
.commentForm__authorEmail:focus,
.commentForm__authorWebsite:focus,
.commentForm__content:focus{
  border: 1px solid #6ac5f9 !important;
}

.commentForm__contentLabel::before,
.commentForm__nicknameLabel::before{
  content:'* ';
  color:red;
}



.commentForm__submitBtn,
.commentForm__resetBtn{
  border: none;
  color: #fff;
  cursor: pointer;
  padding:.8rem 1.6rem;
  border-radius: 4px;
  background-color: rgb(106 197 249 / 90%);
}

.commentForm__submitBtn{
  margin-right:2rem;
}

.commentForm__submitBtn:hover,
.commentForm__resetBtn:hover{
  background-color: rgb(106, 197, 249);
}


@media screen and (max-width:1000px) {
  .commentForm{
    padding:1rem;
  }
  .commentForm__authorInfo{
    flex-direction: column;
  }

  .commentForm__authorInfo > *{
    width: 100%;
  }
}