<div class="carousel">
  <div class="carousel__slider">
    <div class="carousel__sliderItem">
      <!-- 1 -->
      <a href="#" class="carousel__sliderItemLink" >
        <img class="carousel__sliderItemImg" src="<?php echo HEDAO_ROOT_URL . '/q1/assets/image/0018.jpeg' ?>" alt="">
      </a>
    </div>
    <div class="carousel__sliderItem">
      <!-- 2 -->
      <a href="#" class="carousel__sliderItemLink" >
        <img class="carousel__sliderItemImg" src="<?php echo HEDAO_ROOT_URL . '/q1/assets/image/0019.jpeg' ?>" alt="">
      </a>
    </div>
    <div class="carousel__sliderItem">
      <!-- 3 -->
      <a href="#" class="carousel__sliderItemLink" >
        <img class="carousel__sliderItemImg" src="<?php echo HEDAO_ROOT_URL . '/q1/assets/image/0020.jpeg' ?>" alt="">
      </a>
    </div>
  </div>
  <span class="carousel__prev">
      <i class="fa fa-arrow-left carousel__prevIcon"></i>
  </span>
  <span class="carousel__next">
    <i class="fa fa-arrow-right carousel__nextIcon"></i> 
  </span>
  <!-- <div class="carousel__indicatorContainer">
    <span class="carousel__indicator carousel__indicator--active"></span>
    <span class="carousel__indicator"></span>
    <span class="carousel__indicator"></span>
  </div> -->
</div>