

.postListWithPagination__CardWrap{
  margin-top:-1px;
}

.postListWithPagination__paginationWrap{
  display: flex;
  justify-content: center;
  background-color: #fff;
}

/* .postListWithPagination__paginationWrap{

} */