/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./@src/view/index/index.css ***!
  \*********************************************************************************************************/
.indexPageWrap{
  margin-bottom:2rem;
}
.indexPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.indexPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.indexPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .indexPage__sidebar{
    display: none;
  }
}



/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./@src/view/category/category.css ***!
  \***************************************************************************************************************/
.categoryPageWrap{
  margin-bottom:2rem;
}
.categoryPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.categoryPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.categoryPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .categoryPage__sidebar{
    display: none;
  }
}



/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./@src/view/tag/tag.css ***!
  \*****************************************************************************************************/
.tagPageWrap{
  margin-bottom:2rem;
}
.tagPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.tagPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.tagPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .tagPage__sidebar{
    display: none;
  }
}



/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./@src/view/search/search.css ***!
  \***********************************************************************************************************/
.searchPageWrap{
  margin-bottom:2rem;
}
.searchPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.searchPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.searchPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .searchPage__sidebar{
    display: none;
  }
}



