.prev-next-container{
  display: flex;
  justify-content: space-between;
}

.prev-next-container .prev,
.prev-next-container .next{
  background-color: #fff;
  padding:1.5rem;
  border-radius: 4px;
  font-size:1.4rem;
  color: #999;
  width:48%;
}

.prev-next-container .prev h2,
.prev-next-container .next h2{
  height: 4rem;
  overflow: hidden;
}

.prev-next-container .prev p:first-child,
.prev-next-container .next p:first-child{
  margin-bottom:1rem;
}

.prev-next-container .prev:hover,
.prev-next-container .next:hover{
  color:#6ac5f9;
  cursor: pointer;
}

.prev-next-container .next >*{
  text-align: right;
}