
.mobileMenu{
  display: flex;
  flex-direction: column;
  color:#fff;
  padding:3rem 0;
}

.mobileMenu__item{
  border: 1px solid rgb(50 162 252 / 30%);
  margin:1rem 1rem;
  transition: all .3s ease;
}

.mobileMenu__item--active{
  background-color: rgb(50 162 252 / 30%);
  /* transition: all .2s; */
}

.mobileMenu__item--active .mobileMenu__icon{
  transform: rotate(180deg);
  /* transition: all .2s; */
}

.mobileMenu__item--active .mobileMenu__submenu{
  display: block;
  /* transition: all .2s; */
}

.mobileMenu__item:hover{
  background-color: rgb(50 162 252 / 30%);
}


.mobileMenu__link{
  display: block;
  font-size: 16px;
  text-align: center;
  position: relative;
  color:#000;
  cursor: pointer;
}

.mobileMenu__link:hover{
  /* color:#000; */
}

.mobileMenu__icon{
  /* margin-right: -.5rem; */
  /* position:absolute;
  left:0;
  top:0; */
}


.mobileMenu__submenu{
  background-color: #fff;
  text-align: center;
  display:none;
}

.mobileMenu__subItem{
  /* text-align: center; */
  /* height:0; */
}

.mobileMenu__subLink{
  display: block;
}

.mobileMenu__subLink:hover{
  color:#000;
  background-color: rgb(50 162 252 / 10%);
}