


<ul class="mobileMenu">
  
  <li class="mobileMenu__item">
    
    <a href="#" class="mobileMenu__itemLink">
      和蛇力量j
    </a>
    <i class="fa fa-angle-down mobileMenu__itemIcon"></i>
   
    
    <!-- 二级菜单开始 -->
    <ul class="mobileMenu__submenu">
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">11111</a>
        </li>
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">22222</a>
        </li>
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">33333</a>
        </li>
    </ul>
    <!-- 二级菜单结束-->
    
  </li>

  <li class="mobileMenu__item">
    <!-- <i class="fa fa-angle-down mobileMenu__icon"></i> -->
    <a href="#" class="mobileMenu__itemLink">
      急救史蒂夫
    </a>
    
  </li>


  <li class="mobileMenu__item">
    
    <a href="#" class="mobileMenu__itemLink">
      樟脑丸
    </a>
    <i class="fa fa-angle-down mobileMenu__itemIcon"></i>
    <!-- 二级菜单开始 -->
    <ul class="mobileMenu__submenu">
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">44444</a>
        </li>
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">5555</a>
        </li>
        <li class="mobileMenu__submenuItem">
          <a href="#" class="mobileMenu__submenuItemLink">6666</a>
        </li>
    </ul>
    <!-- 二级菜单结束-->
    
  </li>


</ul>

  