.prevNextCard{
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  /* flex: 1; */
/* text-align: right; */
  /* height:3rem; */
}

.prevNextCard__prev,
.prevNextCard__next{
  background-color: #fff;
  padding:1.5rem;
  border-radius: 4px;
  font-size:1.4rem;
  color: #999;
  width:48%;
  /* position:absolute; */
}

.prevNextCard__prev{
  /* left:0; */
  align-content: flex-start;
}

.prevNextCard__next{
  /* right:0; */
  align-content: flex-end;
}

.prevNextCard__prevTitle,
.prevNextCard__nextTitle{
  height: 4rem;
  overflow: hidden;
  margin-top:1rem;
}

.prevNextCard__next >*{
  text-align: right;
}

.prevNextCard__prev:hover,
.prevNextCard__next:hover{
  color:#6ac5f9;
  cursor: pointer;
}

