

/**
* 1. reset类
  2. 全局样式
  3. css样式类
  4. 组件
  5. 页面
*
/*


/* reset */
@import url('../asset/style/reset.css');

/* 全局设置 */
@import url('./style/globalStyle.css');


/* css样式类 */
@import url('./style/styleClass.css');



/* 组件-widget-tagCloudCard */
@import url('../../q1/component/widget/tagCloudCard/tagCloudCard.css');
/* 组件-widget-authorCard */
@import url('../../q1/component/widget/authorCard/authorCard.css');
/* 组件-widget-searchCard */
@import url('../../q1/component/widget/searchCard/searchCard.css');
/* 组件-widget-simplePostCard */
@import url('../../q1/component/widget/simplePostCard/simplePostCard.css');
/* 组件-widget-widgetRecommendCard */
@import url('../../q1/component/widget/widgetRecommendCard/widgetRecommendCard.css');



/* 组件-common-pageTitleCard */
@import url('../../q1/component/common/pageTitleCard/pageTitleCard.css');
/* 组件-common-postList */
@import url('../../q1/component/common/postList/postList.css');
/* 组件-common-postCard */
@import url('../../q1/component/common/postCard/postCard.css');
/* 组件-common-postCardTwo */
@import url('../../q1/component/common/postCardTwo/postCardTwo.css');
/* 组件-common-pagination */
@import url('../../q1/component/common/pagination/pagination.css');
/* 组件-common-menu */
@import url('../../q1/component/common/menu/menu.css');
/* 组件-common-mobileMenu */
@import url('../../q1/component/common/mobileMenu/mobileMenu.css');
/* 组件-common-carousel */
@import url('../../q1/component/common/carousel/carousel.css');



/* 组件-post-commentCard */
@import url('../../q1/component/post/commentCard/commentCard.css');
/* 组件-post-commentList */
@import url('../../q1/component/post/commentList/commentList.css');
/* 组件-post-prevNextCard */
@import url('../../q1/component/post/prevNextCard/prevNextCard.css');
/* 组件-post-postContent */
@import url('../../q1/component/post/postContent/postContent.css');
/* 组件-post-recommendCard */
@import url('../../q1/component/post/recommendCard/recommendCard.css');
/* 组件-post-commentSection */
@import url('../../q1/component/post/commentSection/commentSection.css');
/* 组件-post-commentForm */
@import url('../../q1/component/post/commentForm/commentForm.css');



/* 组件-siteHeader */
@import url('../../q1/component/siteHeader/siteHeader.css');

/* 组件-siteFooter */
@import url('../../q1/component/siteFooter/siteFooter.css');

/* 组件-indexPageContent */
@import url('../../q1/component/indexPageContent/indexPageContent.css');

/* 组件-categoryPageContent */
@import url('../../q1/component/categoryPageContent/categoryPageContent.css');

/* 组件-tagPageContent */
@import url('../../q1/component/tagPageContent/tagPageContent.css');

/* 组件-searchPageContent */
@import url('../../q1/component/searchPageContent/searchPageContent.css');

/* 组件-postPageContent */
@import url('../../q1/component/postPageContent/postPageContent.css');

/* 组件-page-themeIntro */
@import url('../../q1/template/themeIntro/themeIntro.css');



.siteHeaderWrapWrap{
  margin-bottom: 2rem;
  background: #fff; 
}
.siteHeaderWrap{
  margin:0 auto;
  max-width:1200px;
  width:90%;
}
.indexPageWrap,
.categoryPageWrap,
.tagPageWrap,
.searchPageWrap,
.postPageWrap{
  flex:1 0 auto;
}

.siteFooterWrapWrap{
  /* margin-bottom: 2rem; */
  background: #fff; 
  flex-shrink: 0;
}
.siteFooterWrap{
  margin:0 auto;
  max-width:1200px;
}




