


.postPageWrap{
  margin-bottom:2rem;
}
.postPage{
  display: flex;
  justify-content: space-between;
  margin:2rem auto;
  max-width: 1200px;
}

.postPage__contentWrap{
  max-width: 90rem;
  flex:1;
  width: 100%;
}

.postPage__sidebar{
  width:30rem;
  margin-left:2rem;
}

/* 小于1000 */
@media screen and (max-width:1000px) {
  .postPage__sidebar{
    display: none;
  }
}


/* 文章样式 */
/* @import url('./post-content-style.css'); */
/* @import url('./lixiaolai-markdown.css'); */
@import url('./github-markdown');