

.indexPageContent__carouselWrap{
  margin-bottom: 2rem;
}

.indexPageContent__topPost{
  margin-bottom: 2rem;
}


.indexPageContent__topPostTitle,
.indexPageContent__postListTitle{
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  padding:1rem;
  padding-left:2rem;
  border: 1px solid #eaeaea;
}

.indexPageContent__topPostWrap,
.indexPageContent__postListWrap{
  margin-top:-1px;
}

.indexPageContent__paginationWrap{
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  /* margin-top:2rem;   */
}







