
#lixiaolai pre, code {
  font-size: 14px;
  font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
  margin: auto 5px;
}

#lixiaolai code {
  white-space: pre-wrap;
  border-radius: 2px;
  display: inline;
}

#lixiaolai pre {
  font-size: 15px;
  line-height: 1.4em;
  display: block !important;
}

#lixiaolai pre code {
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
  padding: 1px 1px;
  display: block !important;
}

#lixiaolai strong, 
#lixiaolai b{
  color: #BF360C;
}

#lixiaolai em, 
#lixiaolai i {
  color: #009688;
}

#lixiaolai hr {
  border: 1px solid #BF360C;
  margin: 1.5em auto;
}

#lixiaolai p {
  margin: 1.5em 5px !important;
}

#lixiaolai table, 
#lixiaolai pre, 
#lixiaolai dl, 
#lixiaolai blockquote, 
#lixiaolai q, 
#lixiaolai ul, 
#lixiaolai ol {
  margin: 10px 5px;
}

#lixiaolai ul, 
#lixiaolai ol {
  padding-left: 15px;
}

#lixiaolai li {
  margin: 10px;
}

#lixiaolai li p {
  margin: 10px 0 !important;
}

#lixiaolai ul ul, 
#lixiaolai ul ol, 
#lixiaolai ol ul, 
#lixiaolai ol ol {
  margin: 0;
  padding-left: 10px;
}

#lixiaolai ul {
  list-style-type: circle;
}

#lixiaolai dl {
  padding: 0;
}

#lixiaolai dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

#lixiaolai dl dd {
  margin: 0 0 10px;
  padding: 0 10px;
}

#lixiaolai blockquote, 
#lixiaolai q {
  border-left: 2px solid #009688;
  padding: 0 10px;
  color: #777;
  quotes: none;
  margin-left: 1em;
}

#lixiaolai blockquote::before, 
#lixiaolai blockquote::after, 
#lixiaolai q::before, 
#lixiaolai q::after {
  content: none;
}

#lixiaolai h1, 
#lixiaolai h2, 
#lixiaolai h3, 
#lixiaolai h4, 
#lixiaolai h5, 
#lixiaolai h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-style: bold !important;
  color: #009688 !important;
  text-align: center !important;
  margin: 1.5em 5px !important;
  padding: 0.5em 1em !important;
}

#lixiaolai h1 {
  font-size: 24px !important;
  border-bottom: 1px solid #ddd !important;
}

#lixiaolai h2 {
  font-size: 20px !important;
  border-bottom: 1px solid #eee !important;
}

#lixiaolai h3 {
  font-size: 18px;
}

#lixiaolai h4 {
  font-size: 16px;
}


#lixiaolai table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0 auto;
}

#lixiaolai tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

#lixiaolai table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

#lixiaolai table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

#lixiaolai table tr th, 
#lixiaolai table tr td {
  font-size: 16px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}

#lixiaolai table tr th {
  font-weight: bold;
  color: #eee;
  border: 1px solid #009688;
  background-color: #009688;
}