.pagination-container{
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  display: flex;
 
}

.pagination-container ul{
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}
.pagination-container ul li {
  margin-bottom: 4px;
}

.pagination-container ul li a{
  margin: 0 2px;
  float: left;
  padding: 5px 12px;
  background-color: #ddd;
  color: #666;
  border-radius: 2px;
  opacity: .88;
}

.pagination-container ul li span{
  color: #999;
  background-color: transparent;
  cursor: default;
  margin: 0 2px;
  float: left;
  padding: 5px 12px;
  color: #666;
  border-radius: 2px;
  opacity: .88;
}



