

/**
* 1. reset类
  2. 全局样式
  3. css样式类
  4. 组件
  5. 模板
  6. common页面
  7. 分页
  8. 小工具
*
/*


/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全局设置 */
html{
  font-size: 10px;
}

body{
  background: rgb(239, 241, 243);
  font:1.6rem/1.5  tahoma, arial, Microsoft YaHei, sans-serif; 
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#000;
}
a:hover{
  color:rgb(128, 200, 252); 
}


/* css样式类 */
.overlay{
  position:fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background:rgba(0,0,0,0.8);
  z-index: 2;
}
.center{
  position:absolute;  /*position:fixed;*/
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}
.hide{
  display: none;
}
.mb-2{
  margin-bottom: 2rem;
}

.radius{
  border-radius: 4px;
}
.radius-big{
  border-radius: 8px;
}






/* 组件-commentCard */
@import url('../../../frontend/commentCard/commentCard.css');

/* 组件-commentList */
@import url('../../../frontend/commentList/commentList.css');

/* 组件-postCard */
@import url('../../../frontend/postCard/postCard.css');

/* 组件-postList */
@import url('../../../frontend/postList/postList.css');



/* 组件-pagination */
@import url('../../../frontend/pagination/pagination.css');

/* 组件-authorCard */
@import url('../../../frontend/authorCard/authorCard.css');

/* 组件-searchCard */
@import url('../../../frontend/searchCard/searchCard.css');

/* 组件-tagCloudCard */
@import url('../../../frontend/tagCloudCard/tagCloudCard.css');

/* 组件-pageTitleCard */
@import url('../../../frontend/pageTitleCard/pageTitleCard.css');

/* 组件-recommendCard */
@import url('../../../frontend/recommendCard/recommendCard.css');

/* 组件-prevNextCard */
@import url('../../../frontend/prevNextCard/prevNextCard.css');

/* 组件-postContent */
@import url('../../../frontend/postContent/postContent.css');

/* 组件-siteHeader */
@import url('../../../frontend/siteHeader/siteHeader.css');

/* 组件-siteFooter */
@import url('../../../frontend/siteFooter/siteFooter.css');


/* 组件-indexPageContent */
@import url('../../../frontend/indexPageContent/indexPageContent.css');

/* 组件-categoryPageContent */
@import url('../../../frontend/categoryPageContent/categoryPageContent.css');

/* 组件-tagPageContent */
@import url('../../../frontend/tagPageContent/tagPageContent.css');

/* 组件-searchPageContent */
@import url('../../../frontend/searchPageContent/searchPageContent.css');





.siteHeaderWrapWrap{
  margin-bottom: 2rem;
  background: #fff; 
}
.siteHeaderWrap{
  margin:0 auto;
  max-width:1200px;
  width:90%;
}

.siteFooterWrapWrap{
  /* margin-bottom: 2rem; */
  background: #fff; 
}
.siteFooterWrap{
  margin:0 auto;
  max-width:1200px;
}




/* 小工具-widget-search */

.widget-search-container{
  background-color: #fff;
  padding:2rem;
  display: flex;
}

.widget-search-container input{
  /* height: 4rem; */
  border: 1px solid rgb(0 0 0/10%);
  padding:.8rem 1rem;
  font-size: 1.6rem;
  width: 80%;
}

.widget-search-container input:focus{
  outline: none;
  border: 1px solid #6ac5f9;
  /* border-color: rgb(0 0 0/50%); */
}

.widget-search-container button{
  /* padding:2rem; */
  border: none;
  width: 20%;
  background-color: #6ac5f9;
  color: #fff;
  cursor: pointer;
}


/* 小工具-widget-author */

.widget-author-container{
  background-color: #fff;
  padding: 1.5rem;
}

/* 作者介绍 */
.widget-author-container .intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-author-container .intro>*{
  margin-bottom: 1rem;
}

.widget-author-container .intro .portrait{
  width: 128px;
  height:128px;
  border-radius: 50%;
  overflow: hidden;
}

.widget-author-container .intro .portrait img{
  width: 100%;
  height: 100%;
}

.widget-author-container .intro .nickname{
  font-size: 2rem;
}

.widget-author-container .intro .description{
  font-size: 1.3rem;
  text-align: center;
}

/* 创作信息 */
.widget-author-container .creation{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1rem;
}

.widget-author-container .creation div p:nth-child(1){
  font-size: 1rem;
}

.widget-author-container .creation div p:nth-child(2){
  font-size: 2.4rem;
}

/* 联系方式 */
.widget-author-container .contact-way{
  display: flex;
  flex-wrap:wrap;
}

.widget-author-container .contact-way a{
  width:25%;
  text-align: center;
  font-size: 1.1rem;
  padding:1rem;
}

.widget-author-container .contact-way a:hover{
  background-color: #f9f9f9;
}

/* 小工具-widget-recommend-posts */
.widget-recommend-posts-container{
  background-color: #fff;
  padding:2rem;
}

.widget-recommend-posts-container .title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.widget-recommend-posts-container .post-list .post{
  display: flex;
  margin-bottom: 3rem;
}

.widget-recommend-posts-container .post-list .post:last-child{
  margin-bottom: 0;
}

.widget-recommend-posts-container .post .thumbnail{
  width:64px;
  height: 64px;
  margin-right:1.5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink:0;
}

.widget-recommend-posts-container .post .thumbnail img{
  width: 100%;
  height: 100%;
  
}

.widget-recommend-posts-container .post .info{
  display: flex;
  flex-direction: column;
}

.widget-recommend-posts-container .post .info .meta{
  color:#7a7a7a;
  font-size: .8rem;
  margin-bottom: 2rem;
}

.widget-recommend-posts-container .post .info .meta time{
  margin-right:1rem;
}

.widget-recommend-posts-container .post .info a{
  font-size: 1.4rem;
  line-height: 1.4rem;
  height:1.4rem;
  overflow: hidden;
  color:#7a7a7a;
}

.widget-recommend-posts-container .post .info a:hover{
  color:#45B6F7;
}

/* 小工具-widget-tag-cloud */
.widget-tag-cloud{
  background-color: #fff;
  padding:2rem;
}

.widget-tag-cloud .title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.widget-tag-cloud .tag-list{
  display: flex;
  font-size:1.4rem;
  flex-wrap: wrap;
}

.widget-tag-cloud .tag-list .tag{
  display: flex;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin:0 1rem 1rem 0;
}

.widget-tag-cloud .tag-list .tag .name{
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.widget-tag-cloud .tag-list .tag .count{
  height:100%;
  background-color: #e7e7e7;
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
}