/* css reset */
@import '../../lib/reset.css';

html{
  font-size: 10px;
}

body{
  background: rgb(239, 241, 243);
  font:1.6rem/1.5  tahoma, arial, Microsoft YaHei, sans-serif; 
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#000;
}
a:hover{
  color:rgb(128, 200, 252); 
}


/* css样式类 */
.overlay{
  position:fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background:rgba(0,0,0,0.8);
  z-index: 2;
}
.center{
  position:absolute;  /*position:fixed;*/
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.hide{
  display: none;
}

/* 项目组件*/
@import '../../component/header.css';
@import '../../component/footer.css';
@import '../../component/post-card.css';
@import '../../component/pagination.css';
@import '../../component/card-author.css';
@import '../../component/card-hot-article.css';
@import '../../component/card-tag.css';
@import '../../component/card-search.css';





















