.card-tag-container{
  background-color: #fff;
  padding:2rem;
}

.card-tag-container .title{
  color:#7a7a7a;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.card-tag-container .tag-list{
  display: flex;
  font-size:1.4rem;
  flex-wrap: wrap;
}

.card-tag-container .tag-list .tag{
  display: flex;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin:0 1rem 1rem 0;
}

.card-tag-container .tag-list .tag .name{
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-tag-container .tag-list .tag .count{
  height:100%;
  background-color: #e7e7e7;
  align-items: center;
  color: #4a4a4a;
  font-size: .75rem;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
}