/* 
 
按钮的oocss

*/

.btn{
  border: none;
  color: #fff;
  cursor: pointer;
  padding:.8rem 1.6rem;
  border-radius: 4px;
  background-color: rgb(106 197 249 / 90%);
}

.btn:hover{
  background-color: rgb(106, 197, 249);
}

