
/* 页头 */
.header-wrapper{
  margin-bottom: 16px;
  background: #fff; 
}

.header{
  margin:0 auto;
  max-width: 1200px;
  width:90%;
}

/* 主体 */
.main{
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 1200px;
  /* width:90%; */
}

/* 主体内容区 */
.main .content{
  flex:1;
  width: 100%;
}


.top-post{
  margin-bottom: 2rem;
}



/* 文章列表 */
/* .post-list{

} */

.post-list .title,
.top-post .title{
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  padding:1rem;
  padding-left:2rem;
  border: 1px solid #eaeaea;
}

.post-list .list,
.top-post .post-wrapper{
  margin-top:-1px;
}

.post-list .list .post-card{
  margin-top: -1px;
}


/* 主体侧边栏 */
.main .sidebar{
  width:30rem;
  margin-left:2rem;
}



.main .sidebar .widget{
  margin-bottom: 2rem;
}


/* 小于1000 */
@media screen and (max-width:1000px) {
  .main .sidebar{
    display: none;
  }
}